
<html>
    <img class="logo-image" src="../../../assets/images/logo.png">
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-inputs">
            <tr>
              <input class="input is-primary" type="text" placeholder="Username" formControlName="username" style="margin-bottom: 5px;">
            </tr>
            <tr>
              <input class="input is-primary" type="password" placeholder="Password *" formControlName="password">
            </tr>
        </div>
        <br>
        <tr>
            <button color="primary" type="submit" [disabled]="!loginForm.valid">Sign in</button>
        </tr>
        <br>
        <tr>
            <p class="text-link-fake">Create acount</p>
        </tr>
        <tr>
            <p class="text-link-fake">Forget my password</p>
        </tr>

    </form>
    <img class="background-image" src="../../../assets/images/background-login.svg">
</html>