<html>
    <form class="login-form">
            <tr>
                <mat-form-field appearance="fill">
                    <mat-label>Username</mat-label>
                    <input matInput style="background-color: none;">
                </mat-form-field>
            </tr>
            <tr>
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput>
                </mat-form-field>
            </tr>
    </form>
</html>