.login-background {
    background-image: url("/assets/images/background-login.svg");
}

.login-form {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

:host ::ng-deep .mat-form-field-flex {
    background-color: white;
}